#slider-continentes {
  padding: 100px 0px; }
  #slider-continentes .slider-for {
    background-color: #f4f4f4;
    padding: 50px; }
    #slider-continentes .slider-for article {
      padding: 0px 20px; }
      #slider-continentes .slider-for article h1 {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 10px;
        color: #007bff;
        margin-bottom: 20px; }
      #slider-continentes .slider-for article p {
        text-align: justify; }
  #slider-continentes .responsive .slick-slide {
    padding: 20px; }
    #slider-continentes .responsive .slick-slide h1 {
      text-align: center;
      text-transform: uppercase; }
  #slider-continentes .slider .slick-prev:before, #slider-continentes .slider .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    color: #007bff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

/*--------------------------
    media querys
---------------------------*/
@media (max-width: 576px) {
  #slider-continentes .slider-for article {
    padding: 0px; }
    #slider-continentes .slider-for article h1 {
      text-align: center; }
  iframe {
    width: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px; } }
