*{
  padding:0px;
  margin:0px;
   -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;     
  }

/*-----------------
    menu
------------------*/
.navbar-nav {
    margin: 0 auto;
}
.img-banner
{
    width: 100%;
    height: 50%;
}


@media screen and (max-width:1200px) and (min-width:995px)
{
    .menu
    {
        position: relative;
        margin-left:0px;
    }
    img-redes-cuadros2
}

@media screen and (max-width:994px) and (min-width: 768px)
{
   .menu
    {
        position: relative;
        margin-left:0px;
    }
}

@media screen and (max-width: 767px)
{
   .menu
    {
        position: relative;
        margin-left:0px;
    }
}
@media screen and (max-width: 450px)
{
  .menu
    {
        position: relative;
        margin-left:0px;
    }
}

/*-----------------
    fin menu
------------------*/
/*-----------------
    logo
------------------*/
#logo
{
    position: relative;
    background-color: white;
}
/*-----------------
    logo
------------------*/

/*-----------------------------
    seccion tres partes
------------------------------*/
#tres-secciones
{
    position: relative;   
    margin-top: 50px;
    padding: 50px;
}

#apartado-redes
{
    background-color:white;
}

#seccion-2columnas
{
    padding: 50px;
    position: relative;
}
#videos-texto2-videos
{
    position: relative;
}

#videos-texto2-videos p 
{
    color:#007bff;
    text-align: left;
    position: relative;
    padding: 0px 5px;
    font-size: 16px;
    cursor: pointer;
}

#videos-texto2-videos li
{
   list-style: none;
}
#videos-texto2-videos img
{
   cursor: pointer;
}
#imgen-redes
{
    padding-top: 0px;
    width: 100%;
    cursor: pointer;
}

#videos-texto
{
    position: relative;   
    padding: 50px 0px;
}

#videos-texto p
{
    color:#007bff;
    text-align: left;
    position: relative;
    padding: 0px 5px;
    font-size: 16px;
    cursor: pointer;
}

#s-seccion img
{
    padding: 20px;
    width: 100%;
    
}

#videos-texto li
{
    list-style: none;
}

#videos-texto img
{
    cursor: pointer;
}

#videos-texto2 li
{
    list-style: none;
    display: block;
}

#videos-texto2
{
   margin-top: 50px; 
    width: 100%;

}
.borde-video
{
    border-bottom: 1px solid black
}

.img-seccion4-videos
{
    width: 50%;
    padding: 10px;
}

.iconos-redes
{
    width: 15%;
    display: inline;
    margin-top: 50px;
}

#iconos ul li
{
    list-style: none;
    display: inline;
}
    
.img-redes-cuadros
{
    width:70%;
    padding:30px;
    margin-left: -50px
}

.img-redes-cuadros1
{
    width:50%;
    padding:5px;
    margin-left: -10px;
    margin-top: -5px
}

.img-redes1
{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    padding: 40px;
    margin-top: 0px
}

.nombre-inicio
{
    background-color:#F4F4F4;
    margin-top:50px;
}

.nombre-inicio1
{
    background-color:#F4F4F4;
    margin-top:0px;
}
.nom-inicio
{
    color:white;
    font-size: 14px;
    padding: 5px;
    background-color: #007bff;
    margin-left: -15px;
    padding-left: 10px;
}

.nombre-inicio1
{
    background-color:#F4F4F4;
}
.nom-inicio1
{
    color:white;
    font-size: 14px;
    padding: 5px;
    background-color: #007bff;
    margin-left: -15px;
    padding-left: 20px;
}
.descripcion-inicio
{
    margin-top: 50px;
    margin-bottom: 20px;
}
.noticias
{
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px
}
/*-----------------------------d
  fin seccion tres partes
------------------------------*/

/*------------------------------------
    querys de seccion tres partes
-------------------------------------*/

@media screen and (max-width:1200px) and (min-width:995px)
{
  
    
    
}

@media screen and (max-width:994px) and (min-width: 768px)
{
      .cards
    {
        width: 200px;   
    }
    
    #tres-secciones
    {
        position: relative;   
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px)
{
     .cards
    {
        margin-left: 25px; 
    }
    
}
@media screen and (max-width: 450px)
{
    .cards
    {
        margin-left: 25px;
    }
    
    .img-seccion3
    {
        width: 200px;
        padding-bottom: 10px;
        margin-left: -100px
    }
    
    .borde-video
    {
        border-bottom:none;
    }
    
    .img-redes-cuadros1
    {
        width:60%;
        padding:10px;
        margin-left: 0px
    }
}

/*------------------------------------
    fin querys seccion tres partes
-------------------------------------*/

/*------------------------------------
    seccion martin
-------------------------------------*/

#texto-video
{
    position: relative;
    margin-top: 100px;
}

.titulo-martin
{
    font-size: 28px;
    margin-bottom: 50px;
    color: #005c9b;
}

.texto-martin
{
    text-align: justify;
    font-size: 14px;
}

.pie-texto
{
    font-size: 16px;
    color: #005c9b;
}

.video-martin
{
    width: 100%;
    margin-bottom: 40px;
    padding-right: 30px;
    margin-top: 150px;
}

/*------------------------------------
    fin de seccion martin
-------------------------------------*/

/*------------------------------------
    querys de seccion martin
-------------------------------------*/

@media screen and (max-width:1200px) and (min-width:995px)
{
  
    
    
}

@media screen and (max-width:994px) and (min-width: 768px)
{
     .video-martin
    {
        width: 100%;
    }
}

@media screen and (max-width: 767px)
{
    .video-martin
    {
        width: 100%;
        margin-bottom: 40px;
        padding: 20px;
    } 
    .img-redes-cuadros2
    {
        width: 50%;
    }
}
@media screen and (max-width: 450px)
{
   .video-martin
    {
        width: 100%;
        margin-bottom: 40px;
        padding: 20px;
    }
    .img-redes-cuadros2
    {
        width: 50%;   
    }
}

/*------------------------------------
    fin querys martin
-------------------------------------*/

/*------------------------------
        Estilos footer
--------------------------------*/
.foter
{
    background-color: #007bff;
    font-family: 'Poppins', sans-serif;
}

.foter ul
{
    list-style: none;
    margin-top: 20px;
}

.foter li a
{
    list-style: none;
    margin-top: 10px;
    font-size: 14px;
    color: white;  
    padding: 5px;
}

.footer-texto
{
    font-size: 24px;
    color: white;
    padding-top: 20px;
}

#foter-redes
{
    background-color: #007bff;
    height: 70px;
    
}
#foter-redes ul
{
    list-style: none;
    margin: 5px;
    margin-top: 0px;
    float: right;
    font-family: 'Poppins', sans-serif;
}
#foter-redes a
{
    list-style: none;
    margin: 5px;
    margin-top: 0px;
}
#foter-redes a img
{
  margin-left:1px;
    padding-top: 15px;
}
#foter-redes li
{
    margin-left: -30px;
    margin-top: 0px;
    color: white;
    font-size: 12px;
}

/*------------------------------
        fin Estilos footer
--------------------------------*/

/*------------------------------
   Estilos sectores
--------------------------------*/
#sectores
{
    position: relative;
    top: 20px;
    
}
.img-banner-sectores
{
    width: 100%;
}
.nav-imagen
{
     background-color: #007bff;
    margin-bottom: 30px;
}
.nav-imagen ul li
{
    list-style: none;
    padding-left: 20px;
    color: white;
}
#descripcion-sectores
{
    position: relative;
    margin-top: 20px;
    text-align: justify
}
.nombre-sector
{
    background-color:#F4F4F4;
}
.nom-sector
{
    color:white;
    font-size: 16px;
    padding: 5px;
    background-color: #007bff;
    margin-left: -15px;
    padding-left: 20px;
}
.descripcion
{
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px
}

.linea-descripcion
{
    width: 100%;
    background-color: #4F4F4F;
}
.servicios li
{
   display: inline;
}
.servicios
{
    margin-top: 20px;
}
/*------------------------------
        fin Estilos footer
--------------------------------*/

/*--------------------------------
    efectos lestras banner
----------------------------------*/
.flotante {
    position:relative;
    color: white;
    left:50px;
    z-index: 1;
    border: none;
    font-family: 'Questrial', sans-serif;
    -webkit-animation-name:anim1;
    -webkit-animation-duration: 4s;
    margin-top: -250px;
}

.flotante h2
{
    color: white;
    font-size: 26px;
    font-weight: bold;
    padding: 20px;
    background-color: rgba(0, 97, 255, 0.6);
}

@media (max-width:1200px){
    .flotante {
    display:none;
}
}

@-webkit-keyframes anim1{
    0%{
       bottom:-150px;
    }
  
    100%{
        bottom: 50px;
    }
}

.img-redes-cuadros2
{
    width: 100%;
    margin-top: 0px;
    padding: 5px
}


.video-modal
{
     width: 100%;   
}

.txt-not
{
    padding: 20px; 
    color: black;
    text-align: justify;
    margin-top: -20px;
}

.texto-amlo
{
    padding:  5px 40px; 
    font-size: 14px;
    text-align: justify;
}
/*--------------------------------
   fin efectos lestras banner
----------------------------------*/
#noticias
{
  padding: 50px 0px;
}

.cuadrobelleza1
    {
        background-color: white;
        margin-top: 0px;
        margin-bottom: 150px;
        box-shadow: 0 0 60px 1px #afafaf;
        width: 800px;
        max-width: 100%;
        margin:0px;
        height: auto;
    }

    .cuadrobelleza1 .slider1
    {
        width: 100%;
        margin: auto;
        display: block;
        padding: 0px;
    }
    .cuadrobelleza1 h5
    {
        font-size: 20px;
        text-align: center;
        color:#007bff;
        font-weight: bold;
        padding: 50px 10px 10px;
    }
    .cuadrobelleza1 p
    {
        text-align: justify;
        padding: 0px 20px 0px;
    }

    #noticias .btn-primary
    {
        margin-bottom: 10px;
    }
    .noticias-seccion1
    {
        width: 100%;
    }
    #articulos2{
        padding: 50px 0px;
    }   

    .p-articulo
    {
        padding: 20px 20px;
    }

    .s-articulo
    {
        padding: 20px 20px;
        
    }
    #seccio-vs img
    {
        padding: 50px;
        width: 100%;
    }

    #imagenesfinal img
    {
        padding: 30px;
        width: 100%;
    }

/* estilos carruseles*/
#noticias .owl-dot 
{
   display: none;
}
        #noticias .owl-next
        {
            color: white;
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            top: 10%;
            right: 20px;
       
        }
        #noticias .owl-prev
        {
            color: white;
            font-size: 50px;
            font-weight: bold;
            position: absolute;
            top: 10%;
            left: 20px;
        }
      

#ibf .owl-prev
{
    color:  white;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 40px;
}
    #ibf .owl-next
    {
        color: white;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 30%;
        right: 20px;
        height: auto;
        width: 40px;
    }

    #ibf .owl-dot
    {
        display: none;
    }

#s-seccion .owl-next
    {
        color: white;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 10%;
        right: 20px;
        height: auto;
        width: 20px;                   
    }
    #s-seccion .owl-prev
    {
        color: white;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 20px;
    }
    #s-seccion .owl-dot
    {
        display: none;
    }

#seccio-vs .owl-next
{
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    right: 60px;
    height: auto;
    width: 20px;                   
}
#seccio-vs .owl-prev
{
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 60px;
}
#seccio-vs .owl-dot
{
    display: none;
}

.owl-carousel .owl-nav button{
            font-size: 40px!important;
            font-weight: bold!important;
            background-color: transparent!important;
        }

        button:focus {
            outline: 0px dotted;
            outline: 0px auto -webkit-focus-ring-color;
            color: transparent;
        }


 /* fin estilos carrusel*/

/*--------------------------
    media querys
---------------------------*/
@media (max-width:1200px)
{
   
}

@media (max-width:992px)
{
    #ibf .owl-next
    {
        position: absolute;
        top: 30%;                
        right: 30px;
        color: white;

    }
    #ibf .owl-prev
    {
        position: absolute;
        top: 30%;                
        left: 30px;
        color: white;
    }
}


@media (max-width:768px)
{   
    #ibf .owl-next
    {
        position: absolute;
        top: 30%;                
        right: 30px;
        color: white;

    }
    #ibf .owl-prev
    {
        position: absolute;
        top: 30%;                
        left: 30px;
        color: white;
    }
}
    


@media (max-width:576px)
{
   #ibf .owl-next
    {
        position: absolute;
        top: 30%;                
        right: 30px;
        color: white;

    }
    #ibf .owl-prev
    {
        position: absolute;
        top: 30%;                
        left: 30px;
        color: white;
    }
    .servicios li 
    {
        display:block;
    }
   
}