#slider-continentes{
    padding: 100px 0px;
    .slider-for{
        background-color: #f4f4f4;
       
        padding: 50px;
        article{
            padding: 0px 20px;
            h1{
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 10px;
                color: #007bff;
                margin-bottom: 20px;
            }  
            p{
                text-align: justify;
            } 
        }
    }

    .responsive{
        .slick-slide{
            padding: 20px;
            h1{
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
   
    .slider{
        .slick-prev:before, .slick-next:before {
            font-family: 'slick';
            font-size: 20px;
            line-height: 1;
            color: #007bff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }   
    }
   
}

#section-continentes{
    padding-top:100px;
    .content-text{
        h1{
            text-align:center;
            letter-spacing: 10px;
        }
    }
    .content-text{
        border-right: 2px solid #d1d1d1;
        height: 100%;
    }
    .content-items{
        background-color:#f4f4f4;
        h1{
            text-transform: uppercase;
            font-size: 30px;
            letter-spacing: 5px;
            margin-bottom: 20px;
            color: #8c8c8c;
        }
    }
}
#nav-tab{
    margin-bottom: 100px;
}
/*--------------------------
    media querys
---------------------------*/


@media (max-width:1200px)
{
   
}

@media (max-width:992px)
{
    
}


@media (max-width:768px)
{
   
  
}

@media (max-width:576px)
{
    #slider-continentes{
        .slider-for{
            article{
                padding: 0px;
                h1{
                    text-align: center;
                }
            }
        }
    }
    iframe {
        width: 100%;
       
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }
}